<app-home>
  <div class="row justify-content-center">
    <h2>Items</h2>
  </div>
  <div class="row justify-content-center">
    <h5>Total items: {{allItems?.length}}</h5>
  </div>
  <div class="card card-strong" style="width: 500px">
  <app-items-list [items]="items" (selectedItem)="navigateToItem($event)"></app-items-list>
  </div>
  <div class="row justify-content-end">
    <button type="button" class="btn btn-primary col-3 mt-3 align-self-center" routerLink="new" [queryParams]="{ type : consumable }">
      New
    </button>
  </div>
</app-home>
