<app-home>
    <div class="row justify-content-center">
        <h2>Monsters</h2>
    </div>
    <div class="row justify-content-center">
        <h5>Total Monsters: {{(filteredMonsters)?.length}}</h5>
    </div>
    <div class="card card-strong" style="width: 500px">
      <ul class="list-group list-group-flush">
          <li *ngFor="let monster of filteredMonsters" class="list-group-item">
              <div *ngIf="monster" class="row">
                  <div class="col-4">{{monster.name}}</div>
                  <div class="col-4 text-right">{{monster.strength}}</div>
                  <button class="offset-1 col-3 btn btn-info" [routerLink]='monster.name'>View</button>
              </div>
          </li>
      </ul>
    </div>
</app-home>